*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    background-color: black;
    height: 60px;
}
.menu{
    display: flex;
    float: right;
    align-items: center;
    
}
.menu a{
        color: white;
        text-decoration: none;
        padding: 20px;


}

.menu a:hover{
    color: aqua;
}
.body{
    margin-top: 250px;
    padding-left: 100px;
}

#ab{
    font-size: 80px;
}
#description{
    font-size: 20px;
    padding: 5px;
}